body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url('weather2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.bg-blur {
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    padding: 20px;
}

/* Cards */
#weatherResult .row {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
}

#weatherResult h1, #weatherResult h2, #weatherResult p, #weatherResult strong, #weatherResult div {
    color: #f8f9fa;
}

.btn ,input{
  border-radius: 5px !important;
}

.btn-primary:hover, .btn-success:hover {
    cursor: pointer;
    background-color: rgb(42, 42, 147);
}

/* Error Message */
#errorMsg {
    max-width: 500px;
    margin: 0 auto;
}

/* Spinner */
#loadingSpinner {
    margin-top: 20px;
}

/* Footer */
footer {
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    #weatherResult .d-flex {
        flex-direction: column !important;
        align-items: center;
    }
}
